{{ data }}</br>
{{ data.1 }}</br>

</br>
</br>
</br>

{% for round in data %}
	round: {{ forloop.counter }}</br>

	{% for player in round %}
		player: {{ player }}</br>
	{% endfor %}
	</br>
{% endfor %}


</br>
</br>
</br>



...............................................................................</br>
Round: 1</br>
	Player 1 cards: [DATA]</br>
		subcount: [DATA] - cardcount: [DATA]</br>
	   round score: [DATA]</br>
	   total score: [DATA]</br>
</br>
	Player 2 cards: [DATA]</br>
		subcount: [DATA] - cardcount: [DATA]</br>
		subcount: [DATA] - cardcount: [DATA]</br>
		subcount: [DATA] - cardcount: [DATA]</br>
	   round score: 7</br>
	   total score: 7</br>
	score diff: 53</br>
</br>
...............................................................................</br>
Round: 2</br>
	Player 1 cards: d</br>
		subcount: -40 - cardcount: 1</br>
	   round score: -40</br>
	   total score: -86</br>
</br>
	Player 2 cards: ddd</br>
		subcount: -80 - cardcount: 3</br>
	   round score: -80</br>
	   total score: -73</br>
	score diff: 13</br>
</br>
...............................................................................</br>
Round: 3</br>
	Player 1 cards: 2345</br>
		subcount: -6 - cardcount: 4</br>
	   round score: -6</br>
	   total score: -92</br>
</br>
	Player 2 cards: ddd23456789t</br>
		subcount: 156 - cardcount: 12</br>
	   round score: 156</br>
	   total score: 83</br>
	score diff: 175</br>
</br>
-------------------------------------------------------------------------------</br>
Total:</br>
player one total: -92</br>
player two total: 83</br>
